


body {
  background: #333;
background: -webkit-linear-gradient(white, #333);
background: -o-linear-gradient(white, #333);
background: -moz-linear-gradient(white, #333);
background: linear-gradient(white, #333);
background-size:100vh 100vh;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}
h1{
	text-align: center;
	word-wrap: break-word;
	font-size: 16px;
	
}
.header{
	height:20px;
}

#buttonTwitter{
	background-image: url('img/bird.jpg');
	background-size: auto 100%;
	background-repeat: no-repeat;
	margin:10%;
	height:10vh;
	width:10vh;
	border:solid blue 5px;
	border-radius: 50%;

}


#robot{
	height:20vh	;
	float:right;
	
}

#boxhandschuh{
	position:relative;
	float:right;
	height:20vh;
	margin-right:15%;
}
#boxhandschuh:hover{
	cursor:pointer;
}
.speechBubbleContainer{
	background-image: url('img/speech-bubble.png');
	background-size: 80vh 60vh;
	background-repeat: no-repeat;
	height:60vh;
	width:80vh;
	/**border:solid black;**/
	
}

.bubbleTextContainer{
	height:30vh;
	width:45vh;
	/**border:solid black; **/
	margin:auto;
	margin-left:21vh;
	margin-top:12vh;
	padding:2% 2%;
	background-color:transparent;
}





.bubbleTextContainer .quote-author {
    height:auto;
    clear:both;
    padding-top:20px;
    font-size:1em; 
    text-align:right;
	margin-right:20%;
} 


@media only screen and (min-width: 0px) and (max-width: 900px)
{
#robot{
	float:left;
	
}
}

@media only screen and (min-width: 0px) and (max-width: 500px)
{
#robot{
	float:left;
	
}
.speechBubbleContainer{
	background-image: url('img/speech-bubble.png');
	background-size: 40vh 25vh;
	background-repeat: no-repeat;
	height:25vh;
	width:40vh;
	
	
}

.bubbleTextContainer{
	height:17vh;
	width:26vh;
	/**border:solid black; **/
	margin:auto;
	margin-left:7vh;
	margin-top:3vh;

}
h1{
	font-size: 11px;
	
}
.bubbleTextContainer .quote-author {
    padding-top:5px;
    font-size:0.7em; 
 
} 
}

@media only screen and (min-height: 0px) and (max-height: 500px)